.image-block img{
    width:80%;
}

@media (max-width:991px){
    .product-item h1{
        font-size: 3rem!important;
    }

    .product-item h3{
        font-size: 1.8rem!important;
    }

    .product-item p{
        font-size: 1.6rem!important;
    }

    a.back{
        font-size: 2.3rem!important;
        padding: 0!important;
    }
}

.image-block{
    display: flex;
    justify-content: center;
}

a.back{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    padding-left: 50px;
}

.product-item{
    background-color: #f1f1f1;
}

a.back:hover{
    color: black;
}

.pt-100{
    padding: 100px 0;
}

.product-item h1{
    font-size: 2rem;
}

.product-item h3{
    font-size: 1.2rem;
    padding-top: 20px;
}

.product-item p{
    font-size: .9rem;
}

.product-item p a.button{
    background-color: #000;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    padding: 10px 35px;
    margin-right: 10px;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
}

.product-item .next{
    padding-top: 30px;
}
