{% extends 'main.html' %}

{% block title %}
Контакты
{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/kontakts.css">
{% endblock %}

{% block body %}
<main>
    <div class="kontakts">
        <div class="container">
            <h1>create</h1>
            <form action="/create" method="post">
                <p><label><span class=""><input type="text" name="name" id="name" placeholder="name"><br></span></label>
                    <label><span class=""></span><input type="text" name="smallDecription" id="smallDecription"
                            placeholder="smallDecription"><br></span></label>
                    <label><span class=""></span><textarea cols="40" rows="10" type="text" name="decription" id="decription"
                            placeholder="decription"></textarea><br></span></label>
                    <label><span class=""></span><input type="text" name="Type" id="Type"
                            placeholder="Type"><br></span></label>
                    <label><span class=""></span><textarea cols="40" rows="10" type="text" name="application" id="application"
                            placeholder="application"></textarea><br></span></label>
                    <label><span class=""></span><input type="text" name="size" id="size"
                            placeholder="size"><br></span></label>
                    <label><span class=""></span><input type="submit" value="send"><br></span></label>
                </p>
            </form>
        </div>
    </div>
</main>
{% endblock %}