{% extends 'main.html' %}

{% block title %}
История
{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/history.css">
{% endblock %}

{% block body %}
<section class="history">
    <div class="container">
        <h2>Carr & Day & Martin занимались производством
            <br>
            Лучшиx средств по уходу за лошадьми с 1765 года
        </h2>
    </div>
    <div class="container blockarea">
        <div class="row">
            <div class="col-6 block left line">
                <p class="year">2020</p>
                <h3>Connolly’s Red Mills Приобретает компанию Carr Day Martin</h3>
                <p>В 2020 году мы были приобретены компанией Connolly's RED MILLS, всемирно известной компанией по
                    питанию и кормам для лошадей, которая также владеет компанией по производству добавок для лошадей в
                    рамках своего портфолио для лошадей. Приобретение Carr & Day & Martin демонстрирует их
                    приверженность предоставлению клиентам максимального ассортимента средств по уходу за лошадьми,
                    ставя лошадь в центр всего, что мы делаем.</p>
            </div>
            <div class="col-6 block img right">
                <img class="right" src="../static/img/hsitory-leather.jpeg" alt="">
            </div>
        </div>
    </div>
    <div class="container blockarea">
        <div class="row">
            <div class="col-6 block img line left">
                <img class="left" src="../static/img/history-2019.jpeg" alt="">
            </div>
            <div class="col-6 block right ">
                <p class="year">2019</p>
                <h3>Carr & Day & Martin предпринимают значительный шаг по сокращению использования пластика, внедряя
                    перерабатываемые алюминиевые бутылки в рамках своей миссии по устойчивому развитию.</h3>
            </div>
        </div>
    </div>
    <div class="container blockarea">
        <div class="row">
            <div class="col-6 block left line">
                <p class="year">2015</p>
                <h3>250-летний юбилей делает нас старейшим мировым брендом по уходу за лошадьми</h3>
                <p>Почти 90 продуктов в настоящее время производятся в том же высоком стандарте, установленном
                    соответственно Messrs Day & Martin, 1770 и Carr & Son, 1837 и прочно утвердили Carr & Day & Martin в
                    качестве бренда по уходу за лошадьми номер один в Великобритании с глобальной привлекательностью.
                </p>
            </div>
            <div class="col-6 block img right">
                <img class="right" src="../static/img/history-2015.jpeg" alt="">
            </div>
        </div>
    </div>
    <div class="container blockarea">
        <div class="row">
            <div class="col-6 block img line left">
                <img class="left" src="../static/img/history-2013.jpg" alt="">
            </div>
            <div class="col-6 block right ">
                <p class="year">2013</p>
                <h3>Открытие немецкого филиала</h3>
            </div>
        </div>
    </div>
    <div class="container blockarea">
        <div class="row">
            <div class="col-6 block left line">
                <p class="year">2020</p>
                <h3>Connolly’s Red Mills Приобретает компанию Carr Day Martin</h3>
                <p>В 2020 году мы были приобретены компанией Connolly's RED MILLS, всемирно известной компанией по
                    питанию и кормам для лошадей, которая также владеет компанией по производству добавок для лошадей в
                    рамках своего портфолио для лошадей. Приобретение Carr & Day & Martin демонстрирует их
                    приверженность предоставлению клиентам максимального ассортимента средств по уходу за лошадьми,
                    ставя лошадь в центр всего, что мы делаем.</p>
            </div>
            <div class="col-6 block img right">
                <img class="right" src="../static/img/hsitory-leather.jpeg" alt="">
            </div>
        </div>
    </div>
    <div class="container blockarea">
        <div class="row">
            <div class="col-6 block img line left">
                <img class="left" src="../static/img/history-2019.jpeg" alt="">
            </div>
            <div class="col-6 block right ">
                <p class="year">2019</p>
                <h3>Carr & Day & Martin предпринимают значительный шаг по сокращению использования пластика, внедряя
                    перерабатываемые алюминиевые бутылки в рамках своей миссии по устойчивому развитию.</h3>
            </div>
        </div>
    </div>
    <div class="container blockarea">
        <div class="row">
            <div class="col-6 block left line">
                <p class="year">2020</p>
                <h3>Connolly’s Red Mills Приобретает компанию Carr Day Martin</h3>
                <p>В 2020 году мы были приобретены компанией Connolly's RED MILLS, всемирно известной компанией по
                    питанию и кормам для лошадей, которая также владеет компанией по производству добавок для лошадей в
                    рамках своего портфолио для лошадей. Приобретение Carr & Day & Martin демонстрирует их
                    приверженность предоставлению клиентам максимального ассортимента средств по уходу за лошадьми,
                    ставя лошадь в центр всего, что мы делаем.</p>
            </div>
            <div class="col-6 block img right">
                <img class="right" src="../static/img/hsitory-leather.jpeg" alt="">
            </div>
        </div>
    </div>
    <div class="container blockarea">
        <div class="row">
            <div class="col-6 block img line left">
                <img class="left" src="../static/img/history-2019.jpeg" alt="">
            </div>
            <div class="col-6 block right ">
                <p class="year">2019</p>
                <h3>Carr & Day & Martin предпринимают значительный шаг по сокращению использования пластика, внедряя
                    перерабатываемые алюминиевые бутылки в рамках своей миссии по устойчивому развитию.</h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}