{% extends 'main.html' %}

{% block title %}
История
{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/history.css">
{% endblock %}

{% block body %}
<section class="history">
    <div class="container">
        <h2>Carr & Day & Martin занимались производством
            <br>
            Лучшиx средств по уходу за лошадьми с 1765 года
        </h2>
    </div>
    <div class="blockarea">
        <div class="container-small">
            <div class="row">
                <div class="col-xl-6 col-lg-12 block left line">
                    <p class="year">2020</p>
                    <h3>Connolly’s Red Mills Приобретает компанию Carr Day Martin</h3>
                    <p>В 2020 году мы были приобретены компанией Connolly's RED MILLS, всемирно известной компанией по
                        питанию и кормам для лошадей, которая также владеет компанией по производству добавок для
                        лошадей в
                        рамках своего портфолио для лошадей. Приобретение Carr & Day & Martin демонстрирует их
                        приверженность предоставлению клиентам максимального ассортимента средств по уходу за лошадьми,
                        ставя лошадь в центр всего, что мы делаем.</p>
                </div>
                <div class="col-xl-6 col-lg-12 block img right">
                    <img class="right" src="../static/img/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="blockarea">
        <div class="container-small">
            <div class="row">
                <div class="col-xl-6 col-lg-12 block img line left">
                    <img class="left" src="../static/img/history-2019.jpeg" alt="">
                </div>
                <div class="col-xl-6 col-lg-12 block right ">
                    <p class="year">2019</p>
                    <h3>Carr & Day & Martin предпринимают значительный шаг по сокращению использования пластика, внедряя
                        перерабатываемые алюминиевые бутылки в рамках своей миссии по устойчивому развитию.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="blockarea">
        <div class="container-small">
            <div class="row">
                <div class="col-xl-6 col-lg-12 block left line">
                    <p class="year">2015</p>
                    <h3>250-летний юбилей делает нас старейшим мировым брендом по уходу за лошадьми</h3>
                    <p>Почти 90 продуктов в настоящее время производятся в том же высоком стандарте, установленном
                        соответственно Messrs Day & Martin, 1770 и Carr & Son, 1837 и прочно утвердили Carr & Day &
                        Martin в
                        качестве бренда по уходу за лошадьми номер один в Великобритании с глобальной
                        привлекательностью.
                    </p>
                </div>
                <div class="col-xl-6 col-lg-12 block img right">
                    <img class="right" src="../static/img/history-2015.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="blockarea">
        <div class="container-small">
            <div class="row">
                <div class="col-xl-6 col-lg-12 block img line left h-100">
                    <img class="left" src="../static/img/history-2013.jpg" alt="">
                </div>
                <div class="col-xl-6 col-lg-12 block right ">
                    <p class="year">2013</p>
                    <h3>Открытие немецкого филиала</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="blockarea">
        <div class="container-small">
            <div class="row">
                <div class="col-xl-6 col-lg-12 block left line">
                    <p class="year">2007</p>
                    <h3>Приобретено Мандариновой группой</h3>
                </div>
                <div class="col-xl-6 col-lg-12 block img right">
                    <img class="right" src="../static/img/history-2007.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="blockarea">
        <div class="container-small">
            <div class="row">
                <div class="col-xl-6 col-lg-12 block img line left">
                    <img class="left" src="../static/img/history-1923.jpg" alt="">
                </div>
                <div class="col-xl-6 col-lg-12 block right ">
                    <p class="year">1923</p>
                    <h3>Day & Martins продают компанию Carr & Son</h3>
                    <p>К этому времени они наладили всемирную зарубежную торговлю, и ассортимент продукции теперь также
                        включал в себя лак для пола, состав жгута, металлический лак и «обувные и кожаные повязки всех
                        видов».</p>
                </div>
            </div>
        </div>
    </div>
    <div class="blockarea">
        <div class="container-small">
            <div class="row">
                <div class="col-xl-6 col-lg-12 block left line">
                    <p class="year">1820</p>
                    <h3>Первый королевский ордер, выданный королем Георгом IV и сохраняемый сегодня во время правления 8
                        монархов</h3>
                </div>
                <div class="col-xl-6 col-lg-12 block img right">
                </div>
            </div>
        </div>
    </div>
    <div class="blockarea">
        <div class="container-small">
            <div class="row">
                <div class="col-xl-6 col-lg-12 block img line left">
                </div>
                <div class="col-xl-6 col-lg-12 block right ">
                    <p class="year">1800</p>
                    <h3>Мыло Belvoir впервые произведено и до сих пор изготовлено по той же формуле сегодня</h3>
                    <p>У мистера Ая было чутье на публичность, и великолепные черные лошади использовались для рисования
                        экипажей Day & Martin. Помимо самих лошадей, фирма имела замечательные конюшни и оборудование.
                        Таким образом, возник интерес к конной продукции, и был изготовлен первый конный продукт - мыло
                        Belvoir Bar. Оно остается первым глицериновым куском мыла на рынке и по сей день.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="blockarea">
        <div class="container-small">
            <div class="row">
                <div class="col-xl-6 col-lg-12 block left line">
                    <p class="year">1765</p>
                    <h3>Создание и начало производства в Великобритании</h3>
                    <p>Все началось в 1765 году, когда мистер Дэй, парикмахер из Донкастера, встретил старого солдата,
                        который дал Ю рецепт чернения сапог, который он разработал для полировки сапог своих старших
                        офицеров. «Сделай так, — сказал Мартин Солдат, — и ты сделаешь состояние!» Очень быстро мистер
                        Дэй понял, насколько хорош продукт, и вместе они открыли небольшой магазин по адресу 97, High
                        Holburn, London в 1770 году.</p>
                </div>
                <div class="col-xl-6 col-lg-12 block img right">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}