<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Carr & Day & Martin</title>
    <link rel="stylesheet" href="../static/css.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container-xl big">
            <div class="row justify-content-center">
                <div class="logo">
                    <img src="../static/img/logo.png">
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mini-navbar"
                    aria-controls="mini-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><img src="../static/img/menu.png"></span>
                </button>
                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse justify-content-center" id="mini-navbar">
                        <ul class="navbar-nav mr-0 mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    ПРОДУКЦИЯ
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#" style="border-bottom: solid 1px #C51A1B;">HOOF
                                            CARE</a></li>
                                    <li><a class="dropdown-item" href="#"
                                            style="border-bottom: solid 1px #EE7202;">LEATHER
                                            CARE</a></li>
                                    <li><a class="dropdown-item" href="#"
                                            style="border-bottom: solid 1px #009CC4;">HEALTH
                                            CARE</a></li>
                                    <li><a class="dropdown-item" href="#" style="border-bottom: solid 1px #708B31;">COAT
                                            CARE</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#">ИСТОРИЯ КОМПАНИИ</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">ИССЛЕДУЙ</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">ГДЕ КУПИТЬ В РОССИИ</a>
                            </li>
                            <li class="nav-item">
                                <a href="#">КОНТАКТЫ</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section class="top-banner">
            <div class="container-fill">
                <div class="banner">
                    <div class="gradient">
                        <div class="row h-100">
                            <div class="col-6">
                                <p>Мировые Лидеры</p>
                                <p>В Области Ухода За Лошадьми</p>
                                <button class="btn">НАШ АССОРТИМЕНТ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="care">
            <div class="container">
                <div class="row">
                    <h2>Мировые Лидеры В Области Ухода За Лошадьми</h2>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="box first">
                            <div class="bg">
                                <a href="#">
                                    <img src="../static/img/leather.png">
                                </a>
                            </div>
                        </div>
                        <div class="box second">
                            <div class="bg">
                                <a href="#">
                                    <img src="../static/img/health.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="box third">
                            <div class="bg">
                                <a href="#">
                                    <img src="../static/img/coat.png">
                                </a>
                            </div>
                        </div>
                        <div class="box fouth">
                            <div class="bg">
                                <a href="#">
                                    <img src="../static/img/hoof.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>