{% extends 'main.html' %}

{% block title %}
Carr & Day & Martin
{% endblock %}

{% block body%}
<main>
    <section class="top-banner">
        <div class="container-fill">
            <div class="banner">
                <div class="gradient">
                    <div class="row h-100">
                        <div class="col-xl-8 col-lg-10 col-md-12">
                            <div class="row h-100 align-items-center">
                                <div class="col-12">
                                    <p>Мировые Лидеры</p>
                                    <p>В Области Ухода За Лошадьми</p>
                                    <button class="btn">НАШ АССОРТИМЕНТ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="care">
        <div class="container-small">
            <div class="row">
                <h2>Мировые Лидеры В Области Ухода За Лошадьми</h2>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="box first">
                        <div class="bg">
                            <a href="#">
                                <img src="../static/img/leather.png">
                            </a>
                        </div>
                    </div>
                    <div class="box second">
                        <div class="bg">
                            <a href="#">
                                <img src="../static/img/health.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="box third">
                        <div class="bg">
                            <a href="#">
                                <img src="../static/img/coat.png">
                            </a>
                        </div>
                    </div>
                    <div class="box fouth">
                        <div class="bg">
                            <a href="#">
                                <img src="../static/img/hoof.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper">
        <div class="container-big">
            <h2>Мы Рекомендуем</h2>
            <div class="slider">
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item1.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item2.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item3.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item4.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item1.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item1.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item2.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item3.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item4.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}