{% extends 'main.html' %}

{% block title %}
Контакты
{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/product-example.css">
{% endblock %}

{% block body %}
<main>
    <div class="product-item">
        <div class="container-big pt-100">
            <div class="row">
                <div class="col-lg-6">
                    <a href="" class="back">Назад</a>
                    <div class="image-block">
                        <img src="../static/img/slider-item2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <h1>Belvoir Tack Cleaner Wipes</h1>
                    <h3>Belvoir Tack Cleaner Wipes</h3>
                    <p>Convenient, single-use impregnated wipe removes surface dirt and mud with ease</p>
                    <h3>Description</h3>
                    <p>Convenient and handy, individually sealed tack cleaning wipes. Great for when you’re on the go or
                        when time is tight. The pH neutral formula will not rot stitching or over dry the leather. For
                        ingrained grease and dirt use ‘heavy duty’ Belvoir Tack Cleaner Step 1 in a spray bottle.</p>
                    <h3>Application</h3>
                    <p>Remove wipe from individual sachet and fully unfold. Wipe over dirty tack using both sides of the
                        wipe. If mould is present, make sure the wipe is disposed of away from leather items.</p>
                    <p>Test on a hidden area before use.</p>
                    <h3>Size: 15 Wipes</h3>
                </div>
            </div>
        </div>
    </div>
    <section class="wrapper">
        <div class="container-big">
            <h2>Мы Рекомендуем</h2>
            <div class="slider">
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item1.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item2.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item3.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item4.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item1.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item1.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item2.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item3.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
                <div class="slider-item">
                    <a href="#">
                        <img src="../static/img/slider-item4.png" alt="slider-item">
                        <p>Gallop Extra</p>
                        <p>Шампунь повышенной прочности</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}