{% extends 'main.html' %}

{% block title %}
История
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/products.css') }}">
{% endblock %}

{% block body %}
<main>
    <div class="products-tab">
        <div class="container-big">
            <div class="row">
                <div style="border-bottom: 2px solid #EE7202;" class="col-lg-3 col-md-6 li"><a style="color: #EE7202;"
                        href="#">Leather Care</a></div>
                <div class="col-lg-3 col-md-6 li"><a href="#">Coat Care</a></div>
                <div class="col-lg-3 col-md-6 li"><a href="#">Hoof Care</a></div>
                <div class="col-lg-3 col-md-6 li"><a href="#">Health Care</a></div>
            </div>
        </div>
    </div>
    <div class="products-section">
        <div class="container-big">
            <div class="row">
                <div class="col-lg-3 col-md-12 products-card inf">
                    <p>Leather contains moisturising and lubricating oils that are gradually lost. Instead of flexing
                        and stretching, the fibres become tight and stiff, and will eventually weaken and break, causing
                        cracks. Our specially formulated oils and balsam will revitalise the fibres in the leather so
                        that they can move freely again. If tack is not going to be used for some time, it should also
                        be carefully stored to preserve its condition
                        Finished leather is composed of approximately 10% fats and oils and around 14% water, which both
                        provide lubrication for the collagen fibres, the balance being protein. Regular care and
                        cleaning maintains this balance and its resilient properties.</p>
                </div>

                {% for el in productitem %}
                {% if el.Type == 'leather' %}
                <div class="col-lg-3 col-md-6 products-card">
                    <a href="/products/{{el.Type}}/{{el.id}}">
                        <img src="../static/img/{{el.id}}.png" alt="">
                        <h3>{{el.name}}</h3>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}