{% extends 'main.html' %}

{% block title %}
Контакты
{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/shops.css">
{% endblock %}

{% block body %}
<main>
    <div class="shops">
        <div class="container-big">
            <h3 class="article">Наши магазины</h3>
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <iframe class="map"
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3A083f49d1e6ee08ddf8ff896b4b517a2a8906d83358153e4cd33e0cfbd1b18847&amp;source=constructor"
                        frameborder="0"></iframe>
                </div>
                <div class="col-lg-4 col-md-12 down">
                    <div class="list">
                        <div class="stores">
                            <ul>
                                <li>
                                    <a href="">
                                        <h5>Harbro</h5>
                                        <p>Camling Farm <br>
                                           Penpont DG3 4JS<br>
                                           Dumfries and Galloway</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Harbro</h5>
                                        <p>Camling Farm <br>
                                           Penpont DG3 4JS<br>
                                           Dumfries and Galloway</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Harbro</h5>
                                        <p>Camling Farm <br>
                                           Penpont DG3 4JS<br>
                                           Dumfries and Galloway</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Harbro</h5>
                                        <p>Camling Farm <br>
                                           Penpont DG3 4JS<br>
                                           Dumfries and Galloway</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Harbro</h5>
                                        <p>Camling Farm <br>
                                           Penpont DG3 4JS<br>
                                           Dumfries and Galloway</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}